@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
@import url('https://fonts.googleapis.com/css?family=Jua:400');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,200,300,400,500,600,700,800,900');



body,div,h1,h2,h3,h4,h5,p,a{
    font-family: "Gothic A1" !important;
    line-height: 180% !important;
    font-size: 1em;

}

h1 {
    font-size: 2.3em;
    font-weight: 800;
}
h2{
    font-size: 2em;
    font-weight: 800;
}
h3{
    font-size: 1.7em;
    font-weight: 800;
}
h4{
    font-size: 1.5em;
    font-weight: 800;
}
h5{
    font-size: 1.2em;
    font-weight: 800;
}

div.highlighter-rouge, figure.highlight {
    background: #f7f16c17 !important;
    color: #000032 !important;
    font-size: 18px !important;
    font-family: "Gothic A1" !important;
}


.markdown-body blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .4em solid #ffa008c9 !important;
}

blockquote {
    border-left: 6px solid #6c757d ;
    margin: 1em 1em;
    padding: 0.75em 1em;
    background-color: #6c757d0f;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
